{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div class="container">
        <head>
                <style>
                        body {
                            font-family: 'Segoe UI';
                            font-size: 25px;
                            background-color: lemonchiffon;
                        }
                 </style>
            </head>
<div class="row">
<div class="col-md-2"> </div>
<div class="col-md-8">

{{wtf.quick_form(registration_form)}}

</div>
<div class="col-md-2"></div>
</div>
</div>

{% endblock%}