{% macro displayPitches(all_pitch_categories) %} 
{% for pitch in all_pitch_categories %}
<div class="col-md-12">

    {% if pitch.user.profile_pic_path %}
    <p>
        <img src="{{url_for('static',filename = pitch.user.profile_pic_path)}}" alt="" class="img-thumbnail">
        <a href="/user/{{pitch.user.username}}&{{pitch.user.id}}">{{pitch.user.username}}</a>
    </p>
    {% else %}
    <p>
        <a href="/user/{{pitch.user.username}}&{{pitch.user.id}}">{{pitch.user.username|capitalize}}</a>
    </p>
    {% endif %}

    <p>{{pitch.pitch_description}}</p>
    <p class="small"> Category: {{pitch.pitch_category}} </p>
    <hr>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="/pitch/{{pitch.id}}">Add Comment</a>
        </li>
    </ul>
</div>
{% endfor %} 
{% endmacro %} 

{% macro displayComments(all_comments) %} 
{% for comment in all_comments %}
<div class="comment">
    <p>
        {% if comment.user.profile_pic_path %}
            <img src="{{url_for('static',filename = comment.user.profile_pic_path)}}" alt="" class="img-thumbnail">
        {% else %}
            <img src="{{url_for('static',filename = 'photos/')}}" alt="" class="img-thumbnail">
        {% endif %}
        <a href="/user/{{comment.user.username}}&{{comment.user.id}}">{{comment.user.username}}</a>
    </p>
    <p>{{comment.comment_content}}</p>
</div>
{% endfor %} 
{% endmacro %} 

{% macro displayCategory(all_categories) %}
{% for category in all_categories %}
<div class="col-md-12">
    <p>
        <a href="/user/{{category.user.username}}&{{category.user.id}}">{{category.user.username}}</a>
    </p>
    <p>{{category.pitch_description}}</p>
    <p class="small"> Category: {{category.pitch_category}} </p>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="/pitch/{{category.id}}">Add Comment</a>
        </li>
        <hr>
    </ul>
</div>
{% endfor %} 
{% endmacro %}