<div class='container'>
    {% macro displayCategories(all_pitch_categories) %}
    {% for category in all_pitch_categories %}
    <li>
        <a href="/category/{{category.id}}"><h2>{{category.category_name}}</h2></a>
    </li>
    {% endfor %}
    {% endmacro %}

    {% macrodisplayPitches(pitch_list) %}
        {% for pitch in pitch_list %}
            <div class="row">
                <div class="col-md-4">
                    <h4>{{ pitch.user.username }}</h4>
                </div>
                <div class="col-md-4">
                    <h4>{{ pitch.pitch_title }}</h4>
                    <h4>{{ pitch.pitch_post }}</h4>
                </div>
            </div>
        {% endfor %}
    {% endmacro %}
</div>
