<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!--<li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Pitch Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/category/Interview-Pitch">Interview</a>
            <a class="dropdown-item" href="/category/Business-Pitch">Business</a>
            <a class="dropdown-item" href="/category/Product-Pitch">Products</a>
            <a class="dropdown-item" href="/category/Sales-Pitch">Sales</a>
            <a class="dropdown-item" href="/category/Tech-Pitch">Technology</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li>{{current_user.username}}</li>
                <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
                {% else %}
                <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
                {%endif%}
            </ul>
             <!--
          <a class="nav-link disabled" href="#">Disabled</a>
          -->
        </li> 
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Pitch</button>
      </form> 
    </div>
  </nav>