<div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/"></a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">HOME</a></li>
              <li class="dropdown">
                <!--<a data-toggle="dropdown" class="dropdown-toggle" href="#"><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/category/Business-Pitch">Business</a></li>
                    <li><a href="/category/Product-Pitch">Products</a></li>
                    <li><a href="/category/Academic-Pitch"></a>Academic</li>
                    <li><a href="/category/Technology">Technology</a></li>
                    <li><a href="/category/Health"></a>Health</li> -->
                  </ul>
                </li>
            </ul>
                        
            <ul class="nav navbar-nav navbar-right">
              {% if current_user.is_authenticated %}
              <li><a href="{{url_for('main.profile',uname=current_user.username)}}"> {{current_user.username}}'s Profile</a></
              <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
              {% else %}
              <li><a href="{{url_for('auth.register')}}">Register</a></li>
              <li class="divider"></li>
              <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
              {% endif %}
            </ul>
            
          </div>
        </div>
      </div>
    